<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
<td width="30%" align="center" valign="top" >选择ini.xml中需要发布的ui</td>
        <td>
            <input type="checkbox" name="ui_list" value="GameStub.swf.new" />GameStub.swf.new<br />
            <input type="checkbox" name="ui_list" value="giftui.swf" />giftui.swf<br />
            <input type="checkbox" name="ui_list" value="zhuui2.swf" />zhuui2.swf<br />
            <input type="checkbox" name="ui_list" value="vipui.swf" />vipui.swf<br />
            <input type="checkbox" name="ui_list" value="giftboxui.swf" />giftboxui.swf<br />
            <input type="checkbox" name="ui_list" value="baseui.swf" />baseui.swf<br />
            <input type="checkbox" name="ui_list" value="xinshouui.swf" />xinshouui.swf<br />
            <input type="checkbox" name="ui_list" value="buildingui.swf" />buildingui.swf<br />
            <input type="checkbox" name="ui_list" value="jiuguanui.swf" />jiuguanui.swf<br />
        </td>
</body>
</html>